#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without autoreconf

.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	dh_testdir
	make clean

.PHONY: override_dh_auto_build
override_dh_auto_build:
	dh_testdir
	make certbot-driver

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_testdir
	mkdir -p debian/tmp/usr/bin
	install -m 0755 -o nobody -g nogroup certbot-driver debian/tmp/usr/bin/certbot-driver
	cd debian/tmp && find .
